.login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    border: 1px solid #1c1c1c;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #1c1c1c;
    font-family: sans-serif;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container input {
    margin-bottom: 15px;
    padding: 12px;
    border: 0.5px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #1c1c1c;
    color: #fff;
  }
  
  .login-container button {
    padding: 12px;
    background-color: #1976d2;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-container button:disabled {
    background-color: #aaa;
  }
  
  .login-container button:hover:not(:disabled) {
    background-color: #14599e;
  }
  
  .login-container .error {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  .register-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #b3b2b2;
  }
  
  .register-link {
    color: #1767b8;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.2s ease;
  }
  
  .register-link:hover {
    color: #14599e;
  }
  